name: Javadoc

on: [ workflow_dispatch, workflow_call ]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        run: ./gradlew :skinsrestorer-api:javadoc --stacktrace
      - name: Move files
        run: |
          mv ./api/build/docs/javadoc ./docs
      - name: Create CNAME
        run: |
          echo "jd.skinsrestorer.net" > ./docs/CNAME

      - name: 'Push changes'
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: 'Deploy SkinsRestorer Javadoc'
          branch: 'gh-pages'
          create_branch: true
          push_options: '--force'
